.Signup__container {
  width: 70%;
  font-size: 1.6rem;
  text-align: center;
  padding: 2rem 1rem 2rem;
}

.Signup__header {
  margin: 0 0 1rem;
  font-size: 2.75rem;
}

.Signup__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Signup__submit-button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 0;
  justify-content: center;
}

.Signup__or {
  font-size: 2rem;
  margin: .75rem 0;
}

.Signup__login-link {
  width: 7.5rem;
  border: none;
  background: none;
  font-weight: bolder;
  color: rgb(48, 100, 153);
  cursor: pointer;
  font-size: 1.8rem;
  transition-duration: 0.5ms;
}