#lp_main-flex {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.lp_login {
  position: absolute;
  top: .5rem;
  right: .5rem;
}

.lp_header {
  margin: 1rem 0;
}

.lp_last-header {
  margin-bottom: 2rem;
}

#Landing_Page__container {
  font-size: 1.6rem;
  border: .1rem solid black;
  text-align: center;
  padding: 1rem 1rem 2rem;
}

.lp_button {
  display: block;
  font-size: 1.8rem;
  border: .1rem solid black;
  background-color: lightgray;
  color: black;
  padding: .7rem;
  text-decoration: none;
}

.lp_button:hover {
  cursor: pointer;
  background-color: gray;
  transform: translateY(-.25rem);
}

.lp_signup {
  width: 7.5rem;
  margin: auto;
}

.lp_lp-link {
  position: absolute;
  top: .5rem;
  left: .5rem;
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
}

.lp_input-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: .5rem;
}

.lp_input {
  width: 125px;
}