#lp__main-flex {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lp__login {
  position: absolute;
  top: 2vmax;
  right: 2vmax;
}

.lp__header {
  font-size: 2.6rem;
  margin: 1vmax 0;
}

.lp__logoContainer {
  text-align: center;
}

#lp__container {
  text-align: center;
  padding: 1rem;
}

.lp__about-para {
  width: 80%;
  font-size: 2rem;
  margin: 0 auto;
}

.lp__button {
  display: block;
  font-size: 1.8rem;
  padding: .8rem;
  text-decoration: none;
  text-align: center;
  width: 7.5rem;
  border-radius: .5rem;
  background-color: rgb(0,204,0);
  color: white;
  border-color: rgb(0,204,0);
  border-width: 0;
  transition-duration: 0.2s;
}

.lp__button:hover {
  cursor: pointer;
  transform: translateY(-.25rem);
}

.lp__button-margin {
  margin: 4vh auto 0;
}

.lp__lp-link {
  font-size: 4rem;
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lp__label {
  font-size: 2.5rem;
}

.lp__input-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.lp__input {
  width: 17rem;
  border: none;
  border-bottom: 2px solid black;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.separator {
  border: 1px solid lightgrey;
  width: 60%;
  margin: 0 auto;
}