.profile__icons-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    height: 6rem;
    overflow-y: scroll;
}

.profile__cards-icon {
    height: 4rem;
}

.profile__edit-icon {
    height: 3.4rem;
    margin: .3rem 0;
}

.profile__Img {
    height: auto;
    width: 60%;
    margin-bottom: 2rem;
    border-radius: .5rem;
}

.profile__Div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__Div > * {
    font-size: 1.6rem;
}

.profile__Div > p {
    background-color: lightgray;
    width: 100%;
    text-align: left;
    padding: .4rem .5rem;
    font-size: 1.8rem;
    margin: .5rem 0;
}

.profile__bio {
    width: 90%;
    text-align: justify;
}

.logoutLink-container {
    width: 100%;
    padding: 1.5rem 0;
}

.logoutLink {
    display: block;
    width: 8rem;
    font-size: 2rem;
    border: .25rem solid black;
    color: black;
    border-radius: .25rem;
    padding: .25rem 0;
    margin: auto;
    text-align: center;
}

.editButton {
    display: block;
    margin: 0 auto;
    padding: 1rem;
}

.editForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    padding-top: 1rem;
}

.editForm > label {
    background-color: lightgray;
    padding: .4rem .5rem;
    font-size: 1.8rem;
}

.editForm > input {
    width: 50%;
    height: 3rem;
    font-size: 1.6rem;
    padding-left: .5rem;
}

#lfm {
    font-size: 1.6rem;
    padding: .25rem 0 0 .5rem;
    height: 8rem;
    width: 80%;
    border: .08rem solid gray;
}

#platforms {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 1rem 0;
}

#bio {
    font-size: 1.6rem;
    padding: .25rem 0 0 .5rem;
    height: 12rem;
    border: .08rem solid gray;
}

.profile__ImgEdit-container {
    padding-top: 1rem;
}

.profile__ImgEdit {
    height: 25vh;
    width: auto;
    display: block;
    margin: 0 auto;
    border-radius: .5rem;
}

.editCancelSubmit-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .25rem 0 .5rem;
}

.editCancel {
    flex-grow: 1;
    height: 6.5rem;
    width: 6.5rem;
}

.editSubmit {
    flex-grow: 1;
    height: 7rem;
    width: 7rem;
}