.profile__icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vh 0;
    height: 9vh;
}

.profile__cards-icon {
    height: 6vh;
    margin: .5vh 0;
}

.profile__edit-icon {
    height: 6vh;
    margin: .5vh 0;
}

.profile__Img {
    height: auto;
    width: 60%;
    margin-bottom: 2rem;
    border-radius: .5rem;
}

.profile__Div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__Div > * {
    font-size: 3vh;
}

.profile__card-header {
    background-color: lightgray;
    width: 100%;
    height: 4.5vh;
    text-align: left;
    padding: .7vh 2vw;
    font-size: 3vh;
    font-weight: bold;
    margin: .5rem 0;
}

.profile__bio {
    width: 90%;
    text-align: justify;
}

.logoutLink-container {
    width: 100%;
    padding: 1.5rem 0;
}

.logoutLink {
    display: block;
    width: 25vw;
    font-size: 3.5vh;
    border: .25rem solid black;
    color: black;
    border-radius: .25rem;
    padding: .5vh 0;
    margin: auto;
    text-align: center;
}

.editButton {
    display: block;
    margin: 0 auto;
    padding: 1rem;
}

.editForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 61.5vh;
    margin: 0 auto;
    padding-top: 1.7vh;
}

.editForm > label {
    background-color: lightgray;
    padding: .7vh 1.5vw;
    font-size: 3vh;
    font-weight: bold;
    height: 4.5vh;
}

.editForm > input {
    width: 50%;
    height: 4.5vh;
    font-size: 3vh;
    padding-left: 1.5vw;
}

#lfm {
    font-size: 3vh;
    padding: .5vh 0 0 1.5vw;
    height: 10vh;
    width: 80%;
    border: .08rem solid gray;
}

#platforms {
    width: 100vw;
    height: 7.8vh;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 1.4vh 0;
}

#bio {
    font-size: 3vh;
    padding: .5vh 0 0 1.5vw;
    height: 18vh;
    border: .08rem solid gray;
}

.profile__ImgEdit-container {
    padding-top: 1rem;
}

.profile__ImgEdit {
    height: 25vh;
    width: auto;
    display: block;
    margin: 0 auto;
    border-radius: .5rem;
}

.editCancelSubmit-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5vh 0 .5vh;
    height: 12vh;
}

.editCancel {
    height: 10vh;
}

.editSubmit {
    height: 10.5vh;
}