.profile__icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    height: 9vh;
    max-height: 7rem; 
    width: 85%;
    margin: 0 auto .75rem;
}

.profile__edit-icon {
    height: 7vh;
    max-height: 5rem;
}

.profile__edit-icon:hover {
    cursor: pointer;
}

.profile__back-icon {
    height: 7vh;
    max-height: 5rem;
}

.profile__section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .1rem solid lightgrey;
    max-width: 85%;
    margin: 0 auto;
    border-radius: 2.5vh;
    background-color: white;
    box-shadow: .5rem 1rem .8rem #888888;
}

.profile__section > * {
    font-size: 3.5vh;
}

.profile__img-name-div {
    width: calc(100% + .4rem);
    margin-top: -.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2.5vh;
    background: #30CFD0;
    box-shadow: .2rem 1rem .8rem #888888;
}

.profile__img-container {
    max-width: 90%;
}

.profile__img {
    display: block;
    width: auto;
    height: 35vh;
    max-height: 28rem;
    border-radius: 2.5vh;
    margin: 1.5vh 0 0;
}

.profile__displayName {
    padding: 1vh;
    color: black;
    font-size: 3vh;
    font-weight: bold;
}

.profile__card-header {
    width: 100%;
    height: 5.5vh;
    text-align: left;
    padding: .7vh 2vh;
    font-size: 3.5vh;
    font-weight: bold;
    margin: 1vh 0;
    text-align: center;
    border: none;
    border-bottom: .3rem solid lightgray;
    width: 60%;
}

.profile__genres, .profile__gamer-tags {
    text-align: center;
}

.profile__bio {
    width: 90%;
    text-align: center;
    margin-bottom: 1vh;
}

.logoutLink-container {
    display: flex;
    justify-content: center;
    padding: 1.5vh 0;
    margin: 1vh;
}

.logoutLink-container > * {
    font-size: 3.5vh;
    margin: 0 auto;
}

.profile__editForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.profile__editCancelSubmit-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vh 0;
    height: 9vh;
    max-height: 12.6rem; 
}

.profile__editCancel {
    height: 7vh;
    max-height: 8rem;
}

.profile__editCancel:hover {
    cursor: pointer;
}

.profile__editSubmit {
    height: 7vh;
    max-height: 8rem;
}

.profile__editSubmit:hover {
    cursor: pointer;
}

.profile__ImgEdit-container {
    border-radius: .8vh;
    padding: 2vh .5vh;
    margin: 0 auto 2rem;
    width: 100%;
}

.profile__ImgEdit {
    height: 25vh;
    width: auto;
    display: block;
    margin: 0 auto;
    border-radius: .8vh;
}

.profile__imageEditInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 2rem auto 0;
}

.profile__file-upload {
    font-size: 2.5vh;
    margin: 1rem 0 2rem;
}

.profile__imageEditInput > .profile__ImgEdit-submit {
    font-size: 2vh;
    padding: .6rem 1.5rem;
}

.profile__editForm > label, .profile__gamer-tags-header {
    padding: .2vh 1.5vh;
    font-size: 3vh;
    font-weight: bold;
    height: 4.5vh;
    text-align: center;
    width: 70%;
    margin: 3.5rem auto;
    color: black;
    border: none;
    border-bottom: .2rem solid lightgrey;
}

#display-name {
    font-size: 3vh;
    padding: .5vh 0 0 1.5vh;
    height: 5.5vh;
    border: .08rem solid gray;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: .8vh;
}

.profile__editForm > textarea {
    resize: none;
}

#lfm {
    font-size: 3vh;
    padding: .5vh 0 0 1.5vh;
    height: 12vh;
    border: .08rem solid gray;
    width: 100%;
    margin: 0 auto;
    border-radius: .8vh;
}

#platforms {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 1.4vh 0;
    width: 100%;
    margin: 0 auto;
}

#genres {
    text-align: center;
    height: 4.5vh;
    font-size: 3vh;
    padding-left: 1.5vh;
}

#bio {
    font-size: 3vh;
    padding: .5vh 0 0 1.5vh;
    height: 20vh;
    border: .08rem solid gray;
    max-width: 100%;
    margin: 0rem auto 4vh auto;
    border-radius: .8vh;
}

.profile__editGenreList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.profile__editGenre {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    background-color: #330867;
    color: white;
    border-radius: .5vh;
    padding: .5vh 0 .35vh .5vh;
    margin: .75vh;
}

.profile__editGenreLabel {
    font-size: 2.6vh;
    font-weight: 600;
}

.profile__editGenreButton {
    display: inline-block;
    margin: 0 .75vh 0 .6vh;
    padding-bottom: .2vh;
    height: auto;
    width: 1.8vh;
}

.profile__editGenre:hover {
    background-color: #d0d0d0;
}

.profile__editGenre:hover > .profile__editGenreButton {
    stroke: rgb(224, 0, 0);
    width: 2.1vh;
    margin: 0 .6vh 0 .45vh;
    stroke-width: 2.5;
}

.profile__genreSelect {
    font-size: 2.6vh;
    font-weight: 600;
    background-color: rgb(19, 93, 177);
    border-radius: .5vh;
    border: .1rem solid rgb(19, 93, 177);
    padding: .5vh 0 .65vh .35vh;
    margin: .75vh .2rem;
    text-align: center;
    color: white;
}

.profile__genreSelectItem {
    border: .1rem solid #e0e0e0;
    font-size: 2.6vh;
    font-weight: 600;
}

.imageError {
    font-weight: bold;
    color: rgb(182, 21, 21);
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 2.5vmax;
}

@media screen and (min-width: 600px) {
    .profile__icons-container {
        max-width: 70%;
    }

    .profile__section {
        max-width: 70%;
    }

    .profile__section > * {
        font-size: 3vh;
    }
}

@media screen and (min-width: 800px) {
    .profile__editForm {
        width: 60%;
    }
}

@media screen and (min-width: 900px) {
    .profile__icons-container {
        max-width: 55%;
    }

    .profile__section {
        max-width: 55%;
    }

    .profile__section > * {
        font-size: 2.5vh;
    }
}

@media screen and (min-width: 950px) {
    .profile__editForm {
        width: 50%
    }
}