.matches__icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vmax 0;
    height: 9vmax;
}

.matches__cards-icon {
    height: 6vmax;
    margin: .5vmax 0;
}

.matches__header-container {
    display: flex;
    justify-content: center;
}

.matches__header {
    text-align: center;
    font-size: 4vmax;
    border-radius: 1vmax;
    width: 20vmax;
    padding: .5vmax;
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    color: white;
}

.matches__mail-icon {
    height: 5vh;
}

.matches__unmatch-icon {
    height: 5vh;
}

.matches__unmatch-icon:hover {
    cursor: pointer;
}

.matches__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.matches__li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 2vmax 0 1vmax; */
    margin: 1vmax 0;
    /* border: .25vmax solid black; */
    /* border-radius: 1vmax; */
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    border-radius: 6.4vh;
    width: 90%;
}

.matches__avatar {
    height: 15.5vmax;
    width: auto;
    max-width: 80%;
    border-radius: 1vmax;
    margin-bottom: 2vmax;
}

.matches__controls {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.matches__display-name {
    font-size: 3vmax;
    margin-bottom: 2vmax;
}

.matches__info {
    height: 100%;
    padding: 2vmax 0 0;
    width: 100%;
    transition: padding .1s, height .1s;
    transition-timing-function: ease-in-out;
}

.matches__info > p, .matches__gamer-tags > p {
    font-size: 2.3vmax;
    transition: font-size .3s;
    transition-delay: .2s;
    transition-timing-function: ease-in-out;
}

.matches__card-header {
    width: 100%;
    font-size: 2.5vmax;
    font-weight: bold;
    /* background-color: lightgray; */
    padding: .5vh 2vw;
    margin: .7vmax 0;
    transition: font-size .2s, background-color .2s, padding .2s, margin .2s;
    transition-timing-function: ease-in-out;
    text-align: center;
    color: white;
    border: none;
    border-bottom: 3px solid white;
    width: 70%;
    margin: 0 auto;
}

.matches__platforms {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1vmax 0;
}

.matches__platforms > * {
    height: 6vmax;
    transition: height .5s;
    transition-delay: .1s;
}

.matches__genres, .matches__gamer-tags {
    font-size: 2.3vmax;
    text-align: center;
}

.matches__bio {
    font-size: 2.3vmax;
    text-align: center;
    padding: 0 1.5vmin;
}

.hidden {
    padding: 0;
}

.matches__li > .hidden > div {
    padding: 0;
    transition-delay: 0.2s;
    border: none;
}

.matches__li > .hidden > h4 {
    font-size: 0;
    background-color: white;
    padding: 0;
    margin: 0;
    transition-delay: 0.1s;
    border: none;
}

.matches__li > .hidden > p {
    font-size: 0;
    padding: 0;
    margin: 0;
    transition-delay: 0s;
}

.hidden > .matches__platforms > * {
    height: 0;
    transition-delay: 0s;
}

.matchesStyleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid lightgrey;
    width: 100%;
    border-radius: 40px;
    background-color: white;
    padding: 10px;
}