.matches__icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vmax 0;
    height: 9vmax;
}

.matches__cards-icon {
    height: 6vmax;
    margin: .5vmax 0;
}

.matches__header-container {
    display: flex;
    justify-content: center;
}

.matches__header {
    text-align: center;
    font-size: 4vmax;
    border: .25vmax solid black;
    border-radius: 1vmax;
    width: 20vmax;
    padding: .5vmax;
}

.matches__mail-icon {
    height: 5vh;
}

.matches__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.match__li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vmax 0 1vmax;
    margin: 1vmax 0;
    border: .25vmax solid black;
    border-radius: 1vmax;
    width: 90%;
}

.match__avatar {
    height: 15.5vmax;
    width: auto;
    max-width: 80%;
    border-radius: 1vmax;
    margin-bottom: 2vmax;
}

.match__display-name {
    font-size: 3vmax;
    margin-bottom: 2vmax;
}

.match__info {
    height: 100%;
    padding: 2vmax 0 0;
    width: 100%;
    transition: padding .1s, height .1s;
    transition-timing-function: ease-in-out;
}

.match__info > p {
    font-size: 2.3vmax;
    transition: font-size .3s;
    transition-delay: .2s;
    transition-timing-function: ease-in-out;
}

.match__card-header {
    width: 100%;
    font-size: 2.5vmax;
    font-weight: bold;
    background-color: lightgray;
    padding: .5vh 2vw;
    margin: .7vmax 0;
    transition: font-size .2s, background-color .2s, padding .2s, margin .2s;
    transition-timing-function: ease-in-out;
}

.match__platforms {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1vmax 0;
}

.match__platforms > * {
    height: 6vmax;
    transition: height .5s;
    transition-delay: .1s;
}

.match__genres {
    font-size: 2.3vmax;
    text-align: center;
}

.match__bio {
    font-size: 2.3vmax;
    text-align: center;
    padding: 0 1.5vmin;
}

.hidden {
    padding: 0;
}

.match__li > .hidden > div {
    padding: 0;
    transition-delay: 0.2s;
}

.match__li > .hidden > h4 {
    font-size: 0;
    background-color: white;
    padding: 0;
    margin: 0;
    transition-delay: 0.1s;
}

.match__li > .hidden > p {
    font-size: 0;
    padding: 0;
    margin: 0;
    transition-delay: 0s;
}

.hidden > .match__platforms > * {
    height: 0;
    transition-delay: 0s;
}