.matches__icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1vmax 0;
    height: 8vmax;
    max-height: 7rem; 
    width: 80%;
    margin: auto;
}

.matches__back-icon {
    height: 4vmax;
    max-height: 5rem;
    margin: .5vmax 0;
}

.matches__header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.matches__header {
    text-align: center;
    font-size: 2.8vmax;
    width: 20vmax;
    padding: .5vmax;
    color: black;
    border: none;
}

.headerBorder {
    border: .1rem solid black;
    width: 12%;
    margin-top: 2rem;
}

.matches__mail-icon {
    height: 5vh;
}

.matches__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.matches__li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vmax 0;
    background: white;
    border-radius: .8vmax;
    width: 100%;
    box-shadow: .5rem 1rem .8rem #888888;

}

.matches__avatar {
    height: 15.5vmax;
    width: auto;
    max-width: 80%;
    border-radius: .8vmax;
    margin-bottom: 2vmax;
}

.matches__display-name {
    font-size: 3vmax;
    margin-bottom: 2vmax;
}

.matches__info {
    height: 100%;
    padding: 2vmax 0 0;
    width: 100%;
    transition: padding .1s, height .1s;
    transition-timing-function: ease-in-out;
}

.matches__info > p, .matches__gamer-tags > p {
    font-size: 2.3vmax;
    transition: font-size .3s;
    transition-delay: .2s;
    transition-timing-function: ease-in-out;
}

.matches__card-header {
    width: 100%;
    font-size: 2.5vmax;
    font-weight: bold;
    padding: .5vh 2vw;
    margin: .7vmax 0;
    transition: font-size .2s, background-color .2s, padding .2s, margin .2s;
    transition-timing-function: ease-in-out;
    text-align: center;
    color: black;
    border-bottom: .3rem solid lightgray;
    width: 60%;
    margin: 0 auto;
}

.matches__platforms {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1vmax 0;
}

.matches__platforms > * {
    height: 6vmax;
    transition: height .5s;
    transition-delay: .1s;
}

.matches__genres, .matches__gamer-tags {
    font-size: 2.3vmax;
    text-align: center;
}

.matches__bio {
    font-size: 2.3vmax;
    text-align: center;
    padding: 0 1.5vmin;
    margin-bottom: 2vmax;
}

.hidden {
    padding: 0;
}

.matches__li > .hidden > div {
    padding: 0;
    transition-delay: 0.2s;
    border: none;
}

.matches__li > .hidden > h4 {
    font-size: 0;
    background-color: white;
    padding: 0;
    margin: 0;
    transition-delay: 0.1s;
    border: none;
}

.matches__li > .hidden > p {
    font-size: 0;
    padding: 0;
    margin: 0;
    transition-delay: 0s;
}

.hidden > .matches__platforms > * {
    height: 0;
    transition-delay: 0s;
}

.matchesStyleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: .8vmax;
    padding: 1rem;
    box-shadow: .5rem 1rem .8rem #888888;
}

.noMatchesPara {
    text-align: center;
    margin-top: 18rem;
    font-weight: bold;
    font-size: 1.6rem;
}

@media screen and (min-width: 600px) {
    .matches__icons-container, .matches__ul {
        max-width: 70%;
    }
}

@media screen and (min-width: 900px) {
    .matches__icons-container, .matches__ul {
        max-width: 55%;
    }
}