.gamer-tag__container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 2vh auto;
}

label.gamer-tag__label {
    background: white;
    padding: .7vh 1.5vh;
    font-size: 3vh;
    font-weight: normal;
    height: 4.5vh;
    text-align: left;
    width: 35%;
    border-radius: none;
    color: #000;
    display: inline-block;
}

.gamer-tag__input {
    font-size: 3vh;
    padding: .5vh 0 0 1.5vh;
    height: 4.5vh;
    border: .08rem solid gray;
    width: 60%;
    margin: 0 auto;
    text-align: left;
    border-radius: 1vh;
}