.main__Image {
    height: 21vmax;
    width: auto;
    max-width: 80%;
    margin: 1.5vmax 0;
    border-radius: 3.5vh;
    transition: height .6s;
    transition-timing-function: ease-in-out;
}

.main__hidden-img {
    height: 0;
}

.main__Swipe-User {
    position: relative;
    height: 79vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border-radius: 6.4vh;
    background: white;
    box-shadow: .5rem 1rem .8rem #888888;
    border: .1rem solid lightgrey;
}

.main__Nav {
    height: 9vmax;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1vmax 0;
    margin: auto;
}

.main__profile-button {
    height: 7vmax;
}

.main__contacts-button {
    margin-top: .5rem;
    height: 6vmax;
}

.main__Swipe-User:hover {
    cursor: pointer;
}

.main__display-name {
    font-size: 4.3vmax;
    margin: 1vmax 0;
}

.main__card-header {
    width: 70%;
    font-size: 3vmax;
    font-weight: bold;
    padding: .7vmax 2vmin;
    margin: .7vmax 0;
    transition: font-size .5s, height .5s, background-color .5s;
    transition-timing-function: ease-in-out;
    transition-delay: .1s;

    border: none;
    border-bottom: 2px solid lightgrey;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    color: black;
}

.main__Swipe-User > span {
    font-size: 3vmax;
    padding: .5vmax 0;
}

.main__Swipe-User > .lfm-in {
    font-size: 3vmax;
    color: black;
}

.main__platforms {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.main__xbox {
    height: 6vmax;
}

.main__playstation {
    height: 6vmax;
}

.main__nintendo {
    height: 6vmax;
}

.main__PC {
    height: 6vmax;
}

.main__genres {
    text-align: center;
    color: black;
}

.main__bio {
    font-size: 3vmax;
    padding: 0 .3vh;
    height: 14vmax;
    transition: font-size .5s, height .5s, background-color .5s;
    transition-timing-function: ease-in-out;
    transition-delay: .1s;
    color: black;
}

.main__hidden-text {
    font-size: 0;
    height: 0;
    /* background-color: white; */
    transition-delay: 0s;
    border: none;
}

.main__caret-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__down-caret {
    position: absolute;
    bottom: 0.75vmax;
    height: 2.5vmax;
    transition: transform .5s;
    transition-timing-function: ease-in-out;
}

.reverse {
    transform: rotateX(180deg);
}

.main__Second-Nav {
    height: 12vmax;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 1vmax;
}

.main__x {
    height: 10vmax;
}

.main__x:hover {
    cursor: pointer;
}

.main__check {
    height: 10vmax;
}

.main__check:hover {
    cursor: pointer;
}

.main__Swipe-User-null {
    position: relative;
    height: 79vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    max-width: 80%;
    margin: 0 auto;
    border-radius: .8vmax;
}

.main__card-null {
    max-width: 80%;
    font-size: 5vmax;
    text-align: center;
}


.minViewInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    margin-top: -2px;
    /* border: 3px solid white; */
    width: calc(100% + 4px);
    border-radius: 6.4vh;
    padding: .5rem;
    background-color: white;
    box-shadow: 0px .8rem .8rem #888888;
    background: #30CFD0;
}

/* loading start */
.lds-roller {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 250px auto 0px auto;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: red;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
