.main__Image {
    height: 21vh;
    width: auto;
    max-width: 80%;
    margin: 1.5vh 0;
    border-radius: .5rem;
}

.main__Swipe-User {
    position: relative;
    height: 79vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__Nav {
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1vh 0;
    margin: auto;
}

.main__profile-button {
    height: 7vh;
}

.main__contacts-button {
    height: 7vh;
}

.main__Swipe-User {
    border: 1px solid black;
    max-width: 80%;
    margin: 0 auto;
    border-radius: .8rem;
}

.main__Swipe-User:hover {
    cursor: pointer;
}

.main__display-name {
    font-size: 4.3vh;
    margin: 1vh 0;
}

.main__card-header {
    width: 100%;
    font-size: 3vh;
    font-weight: bold;
    background-color: lightgray;
    padding: .7vh 2vw;
    margin: .7vmax 0;
}

.main__Swipe-User > span {
    font-size: 3vh;
    padding: .5vh 0;
}

.main__Swipe-User > p {
    font-size: 3vh;
}

.main__platforms {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.main__xbox {
    height: 6vh;
}

.main__playstation {
    height: 6vh;
}

.main__nintendo {
    height: 6vh;
}

.main__PC {
    height: 6vh;
}

.main__bio {
    padding: 0 .3rem;
    height: 25vh;
}

.main__caret-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__down-caret {
    position: absolute;
    bottom: 0;
    height: 6vh;
}

.reverse {
    transform: rotate(180deg);
}

.main__Second-Nav {
    height: 11vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: .5vh;
}

.main__x {
    height: 10vh;
}

.main__x:hover {
    cursor: pointer;
}

.main__check {
    height: 10.5vh;
}

.main__check:hover {
    cursor: pointer;
}