.App {
  height: 100vh;
}

.lfm-in {
    text-align: center;
}

.blue-button {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  padding: .8rem 2rem;
  text-decoration: none;
  text-align: center;
  border-radius: .5rem;
  background-color: rgb(48, 100, 153); /* Green: rgb(0,204,0) */
  color: white;
  border-color: rgb(48, 100, 153);
  border-width: 0;
  transition-duration: 0.2s;
}

.blue-button:hover {
  cursor: pointer;
  transform: translateY(-.25rem);
}

.blue-button-margin {
  margin: 4vh auto 0;
}

/* loading start */
.lds-roller {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 180px auto 0px auto;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #30CFD0;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 6.8rem;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 4.8rem;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 6.8rem;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}